.card{cursor:pointer;transition:.4s;box-shadow:0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);transition:all .3s cubic-bezier(.25,.8,.25,1)}
.card .card_image{width:inherit;height:inherit}
.card .card_image img{position:absolute;object-fit:cover;}
.card .card_title{text-align:center;margin-top:20%}

.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22)
}
.title-white{color:#fff}
@media all and (max-width:500px){
.card-list{flex-direction:column}
}
.bg-dark{background-color:transparent!important}
.fa {color:#f0f8ff}
.far{color:#f0f8ff}
.far:hover{
    color: #6495ed;
    cursor: pointer;
}

.fa:hover{
    color: #6495ed;
    cursor: pointer;
}

/* .img-fluid{max-width:200px; height:auto!important} */
.placa-artista {
    height: 50vh;
    padding-top: 5%;
    padding-bottom: 5%;
   background-color: #161925;
}
/* .img-fluid{max-width:200px; height:auto!important} */
.artistafont {
    font-size: 4em;
}

.miniatura {
    width: 64px;
    height: 64px;
}

.bg-layout {
    background-color: #161925;
}
